body{
    background-color: blanchedalmond;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
h1{
    color: blueviolet;
    text-align: center;
    font-size: 100px;
    
}
ul{
    color: rgb(230, 64, 119);
    list-style: none;
    background-color: yellow;
    height: 50px;
    font-family: Georgia;
    font-size: 45px;
    
}
li{
    float:left ;
    border-right: 2px solid;
    border-color: rgb(143, 7, 143);
}
a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    
}
a:hover{
    background-color: blueviolet;
}

p{
    
    text-decoration: underline;
    text-overflow: clip;
    font-size: medium;
    font-family: fantasy;
    
    
}
.box{
    background-color: bisque;
    background-image: url(flower.jpg);
    margin: 80px;
    padding: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid;
    float: right;
}

.footer{
    position: absolute;
    background-color: rgb(86, 15, 153);
     bottom: 0%;
     font-size: 50px;
     font-family: Georgia;

}
    
    
    


